*{margin:0;padding:0;}
table
{
	border:1px solid #0D0C0C;margin:0 auto;
	padding:10px;
	}/*table标签长度自适应，相当于定宽块状元素的居中，直接加margin:auto*/
caption{
	font-size:24px;
	margin-top:10px;
}
th{
	border:1px solid #1E0C0C;
    background-color:#D4CFCF;
    
    text-align:left;
}
th,td{
	width:10em;
	padding:0.5em;/*px像素(Pixel)。相对长度单位。像素px是相对于显示器屏幕分辨率而言的。
	              em是相对长度单位。相对于当前对象内文本的字体尺寸。如当前对行内文本的字体尺寸未被人为设置，
	              则相对于浏览器的默认字体尺寸 任意浏览器的默认字体高都是16px。所有未经调整的浏览器都符合: 1em=16px。*/
}
odd{background-color:#7D7676;}
even{background-color:#8D0909;}